@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Pixelify+Sans:wght@700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  color: rgb(220, 220, 220);
  background-color: #060406;
  font-family: 'Noto Sans Mono', monospace;
}

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  color: rgb(28, 150, 206);
  text-decoration: none;
}

button,
input[type='file'],
::file-selector-button {
  font-family: 'Noto Sans Mono', monospace;
}

button {
  padding: 0.5em 0.9em;
  border: none;
  outline: none;
  background-color: #161116;
  color: rgb(220, 220, 220);
  border-radius: 4px;
  border: 1px solid #9a8d9a;
}

button:hover,
button:focus {
  background-color: #2d212d;
}

h1,
h2 {
  font-family: 'Pixelify Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
}
